@import "tailwindcss";

@theme {
    --color-select-dark: #2de2c7;
    --color-select-light: #a5f3e7;

    --color-exclude-dark: #ff4655;
    --color-exclude-light: #ff8a92;

    --color-standard-dark: #68707d;
    --color-standard-light: #b4b9c1;
}
